@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.button-1{
    background-color: #E76F51!important;
    border-color: #E76F51!important;
}
.button-2{
    background-color: #fff!important;
    border-color: #E76F51!important;
    color: #E76F51!important;
}.button-2:hover{
    background-color: #E76F51!important;
    border-color: #E76F51!important;
    color: #fff!important;
}
header{
    background-color: #264653;
    
}
.collection-subhead{
    position: relative;
    display: inline-block;
}
.collection-subhead::after{
    position: absolute;
    content: "";
    background-color: #E76F51;
    height: 2px;
    width: 50px;
    top: 30px;
    left: 40px;
}
.gray-filter{
    filter: grayscale(100%);
}
footer {
    background-color: #000;
    padding-bottom: 110px;
  }
.copyright{
    margin-left: 30px;
}
.getApp img{
    height: 40px;
    width: 127px;
}
@media (max-width: 576px) { 
    .banner-text p{
        font-size: 12px;
    }
    .banner-text{
        margin-bottom: 40px;
    }
    .bike{
        padding-bottom: 70px;
    }
    .latest-news{
        padding-bottom: 20px;
    }
    .banner-image{
        text-align: center;
        padding-bottom: 50px;
    }
    footer{
        padding-bottom: 50px;
    }
    .footer-responsive{
        display: flex;
        justify-content: space-around;
    }
    .responsive-nav{
        margin-top: -160px;
    }
    .getApp{
        margin: 0 auto;
        padding-bottom: 30px;
    }
    small{
        display: flex;
        justify-content: center;
    }
 }