@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.button-1{
    background-color: #E76F51!important;
    border-color: #E76F51!important;
}
.button-2{
    background-color: #fff!important;
    border-color: #E76F51!important;
    color: #E76F51!important;
}.button-2:hover{
    background-color: #E76F51!important;
    border-color: #E76F51!important;
    color: #fff!important;
}
header{
    background-color: #264653;
    
}
.collection-subhead{
    position: relative;
    display: inline-block;
}
.collection-subhead::after{
    position: absolute;
    content: "";
    background-color: #E76F51;
    height: 2px;
    width: 50px;
    top: 30px;
    left: 40px;
}
.gray-filter{
    filter: grayscale(100%);
}
footer {
    background-color: #000;
    padding-bottom: 110px;
  }
.copyright{
    margin-left: 30px;
}
.getApp img{
    height: 40px;
    width: 127px;
}